body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background-color: #2c3e50;
}

.navbar-container{
  position:sticky;
  top:0;
  z-index:2;
}

.container-judul {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container-judul h1 {
  font-size: 13px;
  line-height: 3px;
  color: white;
  font-family: arial, sans-serif;
}

.container-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-photo img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

.container-judul {
  margin-left: 20px;
}

.container-judul h1 {
  font-size: 23px;
  font-family: arial;
}

.container-judul p {
  font-size: 18px;
  color: white;
  margin-top: 5px;
  font-family: arial;
}


#hero {
  padding: 3rem 0;
  background-color: #ffffff;
  filter: drop-shadow(5px 5px 5px #ddd);
  text-align: center;
}

#hero h1 {
  font-size: 28px;
  font-family: arial;
  font-weight: bold;
  animation: fadeInDown 2s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero .btn {
  padding: 10px 20px;
  background-color: navy;
  border-radius: 6px;
  box-shadow: 3px 3px 3px blue;
  margin-top: 30px;
  animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero .btn:hover {
  background-color: lightblue;
  box-shadow: none;
  transition: 1s ease;
}

#hero  a {
  text-decoration: none;
  color: white;
  font-family: arial;
}


.about {
  margin-top: 60px;
  text-align: center;
  padding: 3rem 0;
  background-color: #ffffff;
  filter: drop-shadow( 7px 7px 7px #ccc);
}

.about h1 {
  font-size: 25px;
  margin-bottom: 15px;
  animation: fadeInDown 2s;
  font-family: arial, sans-serif;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about p {
  text-align: justify;
  font-size: 17px;
  font-family: arial, sans-serif;
  margin-left: 20px;
  margin-right: 30px;
  word-spacing: 1.3;
  animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project, .certificate {
  padding: 2rem 0;
  background-color: #ffffff;
  margin-top: 60px;
  filter: drop-shadow( 5px 5px 5px #ddd);
}

.project h1, .certificate h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: arial, sans-serif;
  
}

.container-project, .container-certificate {
  text-align: center;
}

.container-project h2 {
  font-size: 18px;
  margin-top: 10px;
}

.container-project p, .container-certificate p {
  font-size: 16px;
  font-family: arial,sans-serif;
  margin-right: 78px;
  margin-left: 78px;
  text-align: justify;
  animation: fadeInUp 11s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-project img, .container-certificate img{
  width: 70%;
  height: 350px;
  border: 8px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 8px lightgrey;
}

.skills {
  padding: 2rem 0;
  background-color: #ffffff;
  filter: drop-shadow( 5px 5px 5px #ddd);
  margin-top: 60px;
  overflow-x:hidden;

}

.skills h1 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: arial, sans-serif;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.skills-item {
  margin: 5px 18px;
  margin-bottom:18px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 0 30px #ddd;
  filter: drop-shadow( 6px 6px 6px #ddd);
}

.skills-item img {
  width: 90px;
  height: 90px;
}

.skills-item:hover {
  transform: scale(1.2);
  transition: 1s ease;
  border-color: cyan;
}

.contact {
  margin-top: 60px;
  padding: 3rem 0;
  text-align: center;
  background-color: #ffffff;
  filter: drop-shadow( 6px 6px 6px #ddd);
  margin-bottom: 40px;
}

.contact h1 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: arial, sans-serif;
  text-align: center;
}

.contact img {
  width: 8%;
  height: 8%;
  margin-left: 8px;
  border: 2px solid black;
  padding:7px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.contact p {
  margin-left: 5px;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 14px;
}

.footer {
  background-color: #2c3e50;
  padding: 3rem 0;
}

.footer p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.scroll {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 15px;
}

@media screen and (max-width:600px){
   .skills-item img{
    height:60px;
    width:60px;
   }
}